@media screen {
  body {
    margin: 0;
    padding: 0;
    z-index: 0;
    background-color: #018281;
    overflow: hidden;
  }
  .top_bar {
    width: 40%;
    height: 50%;
    float: center;
  }
  .owl_bar {
    padding-top: 140px;
    position: absolute;
    width: 40%;
    height: 50%;
    float: center;
  }
  .left_bar {
    visibility: hidden;
    float: left;
  }

  .left_bar img {
    margin-top: -25px;
    width: 135px;
    height: auto;
  }

  audio {
    width: 80%;
  }
  .musicpage {
    margin-left: 10px;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    z-index: 10;
    font-family: "Common Pixel", sans-serif;
    color: pink;
  }

  .musicpage h3 {
    font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
    color: #ffffff;
    font-size: 1.2em;
  }
  .projectwords {
    font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
    color: #ffffff;
    font-size: 1.3em;
  }

  .musicpage ul {
    list-style-type: none;
  }
  .projectspage {
    margin-left: 100px;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    z-index: 10;
    font-family: "Common Pixel", sans-serif;
    color: pink;
  }

  .projectspage ul {
    list-style-type: none;
  }

  .blendervids {
    font-family: "Common Pixel", sans-serif;
    color: pink;
    height: 100%;
    overflow-y: scroll;
    float: center;
    position: fixed;
    z-index: 4;
  }

  .main {
    float: center;
    width: 40%;
  }
  .right_bar {
    float: right;
    width: 30%;
  }
  .talk {
    padding-left: 680px;
    position: absolute;
  }
  .talkwords.talk {
    font-size: 26px;
    position: absolute;
    padding-right: 55px;
    z-index: 2;
    font-family: "Common Pixel", sans-serif;
  }
  .hooty {
    margin-top: 120px;
    margin-left: 25px;
    position: fixed;
    float: right;
  }

  .hooty img {
    height: 500px;
  }

  .hooty:hover {
    transform: translateY(-25px);
  }

  .bottom_bar {
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    z-index: 12;
    background-color: lightgrey;
  }

  .emailsquare {
    z-index: 122;
  }
  .emailsquare img {
    height: auto;
    width: 135px;
  }
  .emailsquare:hover {
    transform: translateX(-4px);
  }
  .computersquare {
    z-index: 122;
  }
  .computersquare img {
    height: auto;
    width: 135px;
  }
  .computersquare:hover {
    transform: translateX(-4px);
  }
  .blendsquare {
    z-index: 122;
  }
  .blendsquare img {
    height: auto;
    width: 155px;
  }
  .blendsquare:hover {
    transform: translateX(-4px);
  }
  .musicsquare {
    z-index: 122;
    margin-right: 40px;
  }
  .musicsquare img {
    height: auto;
    width: 146px;
  }
  .musicsquare:hover {
    transform: translateX(-4px);
  }

  .miscsquare {
    margin-top: 30px;
    margin-right: 20px;
  }
  .miscsquare img {
    height: auto;
    width: 135px;
  }

  .miscsquare:hover {
    transform: translateX(-4px);
  }

  .gamessquare {
    width: auto;
  }
  .gamessquare img {
    height: auto;
    width: 155px;
  }
  .gamessquare:hover {
    transform: translateX(-4px);
  }
  .startIcon {
    background: pink;
    height: 50%;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Common Pixel", sans-serif;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkgrey;
    background-size: block;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }

  .startIcon:hover {
    background-color: pink;
    background-size: absolute;
  }

  .startIcon:active {
    background-color: pink;
    background-size: absolute;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .iconWords1 {
    margin-top: -45px;
    margin-left: 20px;
    font-family: "Common Pixel", sans-serif;
  }

  .iconWords2 {
    margin-top: -35px;
    margin-left: 40px;
    font-family: "Common Pixel", sans-serif;
  }
  .iconWords3 {
    margin-top: -45px;
    margin-left: 30px;
    font-family: "Common Pixel", sans-serif;
  }
  .iconWords4 {
    margin-top: -35px;
    margin-left: 40px;
    font-family: "Common Pixel", sans-serif;
  }

  .iconWords5 {
    margin-top: -35px;
    margin-left: 25px;
    font-family: "Common Pixel", sans-serif;
    align-items: center;
  }

  #mydiv {

    position: absolute;
    z-index: 8;
    height: 450px;
    width: 400px;
    background-color: darkgrey;
    border: 10px solid #d3d3d3;
    text-align: center;
    font-family: "Common Pixel", sans-serif;
  }

  #mydivheader {
    margin: 0px;
    height: 50px;
    font-family: "Common Pixel", sans-serif;
    font-size: 18px;
    cursor: grab;
    z-index: 9;
    background-color: pink;
  }

  input[type="text1"] {
    width: 60%;
    padding: 40px 20px;
    margin: 8px 100;
    box-sizing: border-box;
    border-radius: 30em;
  }
  input[type="text"] {
    size: 40;
    box-sizing: border-box;
  }

  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    background-color: pink;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Common Pixel", sans-serif;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 350px;
    height: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 11;
    bottom: 125%;
    left: 0%;
    margin-left: 0px;
  }

  .martymenu {
    text-align: right;
    margin-right: 20px;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }

  .col-sm-4 img {
    width: 300px;
  }

  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: pink;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-family: "Common Pixel", sans-serif;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-family: "Common Pixel", sans-serif;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: pink;
    color: black;
    font-family: "Common Pixel", sans-serif;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #018281;
    color: white;
    font-family: "Common Pixel", sans-serif;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 645px) {
   .bottom_bar {
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    z-index: 12;
    background-color: lightgrey;
  }


  .blendervids {
    margin-left: 16%;
    height: 100%;
    overflow-y: scroll;
    float: center;
    position: fixed;
    z-index: 4;
  }
  .owl_bar {
    padding-top: 140px;
    padding-left: 350px;
    position: absolute;
    width: 40%;
    height: 50%;
    float: center;
  }
  .hooty img {
    width: 700px;
    height: auto;
  }
  .projectwords {
    font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
    color: #ffffff;
    font-size: 1.3em;
  }
  .col-sm-4 img {
    width: 400px;
  }
  .right_bar {
    float: right;
    width: 50%;
  }
  .left_bar {
    visibility: visible;
    float: left;

    position: absolute;
  }

  #mydiv {
    margin-left: 150px;
    position: absolute;
    z-index: 8;
    height: 450px;
    width: 700px;
    background-color: darkgrey;
    border: 10px solid #d3d3d3;
    text-align: center;
    font-family: "Common Pixel", sans-serif;
  }

  #mydivheader {
    margin: 0px;
    height: 50px;
    font-family: "Common Pixel", sans-serif;
    font-size: 18px;
    cursor: grab;
    z-index: 9;
    background-color: pink;
  }
  audio {
    width: 50%;
  }
  .musicpage {
    padding-left: 200px;
  }
  .projectpage {
    padding-left: 200px;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 350px;
    height: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 11;
    bottom: 125%;
    left: 0%;
    margin-left: 0px;
  }

  .martymenu {
    text-align: right;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
  /* Style the navigation menu */
  .topnav {
    visibility: hidden;
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    font-family: "Common Pixel", sans-serif;
  }

  /* Style navigation menu links */
  .topnav a {
    visibility: hidden;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #04aa6d;
    color: white;
  }
}
@media screen and (min-width: 1300px) {
   .bottom_bar {
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    z-index: 12;
    background-color: lightgrey;
  }

    #mydiv {
    margin-top: 100px;
    margin-left: 400px;
    position: absolute;
    z-index: 8;
    height: 450px;
    width: 400px;
    background-color: darkgrey;
    border: 10px solid #d3d3d3;
    text-align: center;
    font-family: "Common Pixel", sans-serif;
  }
  .owl_bar {
    padding-top: 34px;
    padding-left: 850px;
    position: absolute;
    width: 40%;
    height: 50%;
    float: right;
  }
  .hooty {
    margin-top: 100px;
    margin-right: 25px;
    position: fixed;
    float: center;
  }

  .hooty img {
    width: 900px;
    height: auto;
  }
  .projectwords {
    font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
    color: #ffffff;
    font-size: 1.3em;
  }
  .col-sm-4 img {
    width: 600px;
  }
  .right_bar {
    float: right;
    width: 30%;
  }
  .left_bar {
    float: left;
    position: absolute;
  }

  #mydiv {
    position: absolute;
    z-index: 8;
    height: 450px;
    width: 700px;
    background-color: darkgrey;
    border: 10px solid #d3d3d3;
    text-align: center;
    font-family: "Common Pixel", sans-serif;
  }

  #mydivheader {
    margin: 0px;
    height: 50px;
    font-family: "Common Pixel", sans-serif;
    font-size: 18px;
    cursor: grab;
    z-index: 9;
    background-color: pink;
  }
  .musicpage {
    padding-left: 500px;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .popup .popuptext {
    visibility: hidden;
    width: 350px;
    height: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 11;
    bottom: 125%;
    left: 80%;
    margin-left: 0px;
    padding-right: 20px;
  }

  .martymenu {
    text-align: right;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
}
